##########################################################################
# These settings control the tag and version of the various
# docker build commands.
#
# The docker tag used will be of the form IMAGE_NAME:IMAGE_TAG
##########################################################################

# Bump this version every time you release a new docker image
IMAGE_TAG="8"

# If set to 'true' the image will also be tagged with 'latest'
TAG_IMAGE_LATEST=true

# This is the gitlab repository base
CONTAINER_REPOSITORY_BASE="$CI_REGISTRY/trajectory/tracktable"

# These are added directories to the base to separate the various potential images
OS_TYPE="ubuntu"
OS_VERSION="20.04"

# The image name is formed from the above variables
IMAGE_NAME="${CONTAINER_REPOSITORY_BASE}/${OS_TYPE}/${OS_VERSION}"


##########################################################################
# These settings control the docker-run-dev settings.
#
# The docker-run-dev script will mount the source tree at
# LOCAL_SOURCE_PATH into the image at location IMAGE_SOURCE_MOUNT.
##########################################################################

LOCAL_SOURCE_PATH="${PWD}/../../../.."
IMAGE_SOURCE_MOUNT="/root/tracktable"
