*~
*.pyc
*.pyd
*.so
Documentation/readthedocs_build/doxygen
Documentation/examples/tmp_my_tracks.html
Documentation/examples/tmp_my_tracks.png
Documentation/examples/trajs*
.ipnyb_checkpoints
*-checkpoint.ipynb
__pycache__
*.project
*.pydevproject
/build/
