*~
*.pyc
*.pyd
*.so
Documentation/readthedocs_build/doxygen
Documentation/examples/tmp_my_tracks.html
Documentation/examples/tmp_my_tracks.png
Documentation/examples/trajs*
Documentation/examples/myfig*.*
Documentation/examples/demo_images/
.ipnyb_checkpoints
*-checkpoint.ipynb
__pycache__
*.project
*.pydevproject
/build/
/.vscode/
/_build/
/doxygen/
/build_ubuntu2004/
/build_macos/
tracktable/Python/tracktable/examples/analytic_demos/demo_images
tracktable/Python/tracktable/examples/analytic_demos/*.ipynb
tracktable/Python/tracktable/examples/tutorials/*.ipynb
Documentation/examples/demo_images/
.mypy_cache
sandbox.*
scratchpad.*
*.mp4