# This file is a template, and might need editing before it works on your project.
# use the official gcc image, based on debian
# can use verions as well, like gcc:5.2
# see https://hub.docker.com/_/gcc/

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  # before_script: 
  #   - apt update && apt -y install make autoconf 
  script: 
    - echo Hello Script
    - msbuild ALL_BUILD.vcxproj /t:Rebuild /p:Configuration=Release /m:8
  artifacts:
    paths:
      - C:\Users\pbaxley\Downloads\TrackTable
  # depending on your build setup it's most likely a good idea to cache outputs to reduce the build time
  # cache:
  #   paths:
  #     - "*.o"

# run tests using the binary built before
test:
  stage: test
  script:
    - echo Testing
    - ctest -C Release
